.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: #121212;
  color: white;
}
.content {
  text-align: center;
  font-family: Arial, sans-serif;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}